*.obj
*.ncb
*.sln
*.suo
*.tlb
*.user
*.pch
*.res
*.tlh
*.tli
vc90.idb
vc90.pdb

# Eclipse IDE
.project
.classpath
.settings/

# Maven.gitignore
target/
pom.xml.tag
pom.xml.releaseBackup
pom.xml.versionsBackup
pom.xml.next
release.properties
dependency-reduced-pom.xml
buildNumber.properties
.mvn/timing.properties
.mvn/wrapper/maven-wrapper.jar
